/* setting */
body{
    margin: auto;
    font-family: "Work Sans", sans-serif;
}
a{
    text-decoration: none;
}

/* bagian atas */
header{
    background-color: #134686;
    height: auto;
}
.logo{
    padding-top: 25px;
    padding-left: 25px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 20px 0 10px 25px;
}
nav li a{
    width: auto;
}
nav a{
    color: white;
    font-weight: 500;
    transition: all 0.5s ease;
}
nav a:hover{
    background-color: white;
    color: #134686;
    padding: 5px 10px 15%;
    transition: all 0.5s ease;
}

/* bagian utama */
.container{
    width: 50%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    border: 3px solid #232323;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: auto;
}
.card:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.card-img-top{
    width: 100%;
    height: auto;
    border-bottom: 3px solid #232323;
    border-radius: 10px;
    object-fit: cover;
}
.card-desc{
    padding-left: 10px;
}
.card-desc a{
    color: black;
    font-size: 15px;
}
.card-desc p{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}